html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.invisible {
  visibility: hidden; }

.slide-fade-short-enter {
  -webkit-animation: slide-open .2s;
  animation: slide-open .2s; }

.slide-fade-short-leave {
  -webkit-animation: slide-close .2s;
  animation: slide-close .2s; }

.fade-enter {
  -webkit-animation: fade-in .7s;
  animation: fade-in .7s; }

.fade-leave {
  -webkit-animation: fade-out .3s;
  animation: fade-out .3s; }

.slide-fade-enter {
  -webkit-animation: slide-open .7s;
  animation: slide-open .7s; }

.slide-fade-leave {
  -webkit-animation: slide-close .7s;
  animation: slide-close .7s; }

@-webkit-keyframes slide-open {
  0% {
    max-height: 0;
    opacity: 0; }
  10% {
    max-height: 0;
    opacity: 0; }
  60% {
    max-height: 260px;
    opacity: 0; }
  100% {
    max-height: 260px;
    opacity: 1; } }

@keyframes slide-open {
  0% {
    max-height: 0;
    opacity: 0; }
  10% {
    max-height: 0;
    opacity: 0; }
  60% {
    max-height: 260px;
    opacity: 0; }
  100% {
    max-height: 260px;
    opacity: 1; } }

@-webkit-keyframes slide-close {
  0% {
    max-height: 260px;
    opacity: 1; }
  40% {
    max-height: 260px;
    opacity: 0; }
  100% {
    max-height: 0;
    opacity: 0; } }

@keyframes slide-close {
  0% {
    max-height: 260px;
    opacity: 1; }
  40% {
    max-height: 260px;
    opacity: 0; }
  100% {
    max-height: 0;
    opacity: 0; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    max-height: 0; }
  50% {
    opacity: 0;
    max-height: 0; }
  100% {
    opacity: 1;
    max-height: 2em; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    max-height: 0; }
  50% {
    opacity: 0;
    max-height: 0; }
  100% {
    opacity: 1;
    max-height: 2em; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.button {
  text-align: center;
  padding: 3px;
  margin: 5px 0 0;
  width: 60px;
  border: 1px solid white;
  border-radius: 2px;
  transition: all .3s ease;
  font-size: .9em;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer; }
  .button:hover {
    color: #323232;
    background-color: white; }
  .button--dark {
    border: 1px solid #323232;
    color: #323232;
    background-color: white; }
    .button--dark:hover {
      color: white;
      background-color: #323232; }
  .button--green {
    color: #4caf50; }
  .button--menu {
    height: 30px;
    margin: 0;
    line-height: 0; }
  .button--modal {
    margin: 0 5px; }
  .button--rgb {
    width: 3.2em;
    background-color: white;
    color: #323232; }
    .button--rgb:hover {
      background-color: white;
      color: #323232; }

.form {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  height: 15px;
  border: none;
  border-radius: 2px;
  padding: 2px;
  font-size: .9em; }
  .form--color {
    padding: 0;
    border: none;
    height: 1.5em; }
  .form--modal {
    border: 1px solid #2196f3;
    text-align: left;
    height: 18px; }
  .form--rgb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 200px;
    margin: auto; }
  .form__label {
    color: white; }

.nav {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #323232;
  border-bottom: 1px solid #1e1e1e;
  height: 40px;
  width: 100%;
  z-index: 20;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); }
  .nav__item {
    color: white; }
  .nav__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .nav__logo {
    font-size: 1.4em;
    font-family: Raleway; }
  .nav__section {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 20px; }
    .nav__section:first-child {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .nav__section:last-child {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

.gu-mirror .handle {
  cursor: grabbing;
  cursor: -webkit-grabbing; }

.hover__underline {
  color: #323232;
  transition: all .3s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  font-weight: bold; }
  .hover__underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #323232;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .hover__underline:hover:before, .hover__underline:focus:before, .hover__underline:active:before {
    left: 0;
    right: 0; }
  .hover__underline:hover {
    color: #323232; }
  .hover__underline--blue {
    color: #2196f3;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    font-weight: bold; }
    .hover__underline--blue:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: #2196f3;
      height: 4px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .hover__underline--blue:hover:before, .hover__underline--blue:focus:before, .hover__underline--blue:active:before {
      left: 0;
      right: 0; }
    .hover__underline--blue:hover {
      color: #323232; }
  .hover__underline--green {
    color: #4caf50;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    font-weight: bold; }
    .hover__underline--green:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: #4caf50;
      height: 4px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .hover__underline--green:hover:before, .hover__underline--green:focus:before, .hover__underline--green:active:before {
      left: 0;
      right: 0; }
    .hover__underline--green:hover {
      color: #323232; }
  .hover__underline--red {
    color: #f44336;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    font-weight: bold; }
    .hover__underline--red:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: #f44336;
      height: 4px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .hover__underline--red:hover:before, .hover__underline--red:focus:before, .hover__underline--red:active:before {
      left: 0;
      right: 0; }
    .hover__underline--red:hover {
      color: #323232; }

.color {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100%;
  -webkit-flex: 1 0 120px;
  -ms-flex: 1 0 120px;
  flex: 1 0 120px;
  z-index: 1; }
  .color__delete {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    transition: all .3s ease;
    z-index: 15;
    cursor: pointer; }
    .color__delete:hover {
      color: #f44336; }
  .color__edit {
    text-align: center; }
  .color__handle {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 200px;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab; }
  .color__name {
    margin: 15px 0 0;
    font-size: 1.2em; }
  .color__overlay {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5; }
  .color__text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    z-index: 10; }
  .color__value {
    margin: 5px 0 0;
    font-size: .9em; }

.menu {
  position: absolute;
  top: 31px;
  left: 20px;
  padding: 0;
  margin: 0;
  z-index: 10; }
  .menu__head {
    font-size: 1.3em;
    cursor: pointer;
    list-style: none;
    color: white; }
  .menu__item {
    padding: 5px;
    cursor: pointer;
    font-size: 1.1em; }
    .menu__item:last-child {
      border-radius: 0 0 2px 2px; }
    .menu__item:hover {
      background-color: #2196f3;
      color: white; }
    .menu__item--empty:hover {
      background-color: #fafafa;
      color: #323232; }
  .menu__section {
    list-style: none;
    padding: 0;
    width: 175px;
    background-color: #fafafa;
    color: #323232;
    margin-top: 9px;
    border-radius: 0 0 2px 2px;
    border-top: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); }

.slide-down-transition {
  transition: all .3s ease-out;
  margin-top: 9px; }

.slide-down-enter, .slide-down-leave {
  margin-top: -155px; }

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease; }
  .modal__action {
    height: 1.5em; }
  .modal__body {
    text-align: center;
    margin: 20px 0;
    color: #323232; }
  .modal__body-header {
    margin-bottom: 5px;
    font-size: 1em; }
  .modal__container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif; }
  .modal__footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #323232; }
  .modal__header {
    text-align: center;
    margin-top: 0;
    color: #2196f3; }
  .modal__mini-scheme {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 10px 0; }
  .modal__mini-scheme-column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 20px;
    margin-bottom: 10px; }
    .modal__mini-scheme-column:first-child {
      border-radius: 2px 0 0 2px; }
    .modal__mini-scheme-column:last-child {
      border-radius: 0 2px 2px 0; }
  .modal__saved {
    padding: 0 10px;
    height: 1.5em;
    line-height: 1.5em; }
    .modal__saved:hover {
      background-color: #2196f3;
      color: white; }
  .modal__saves {
    max-height: 150px;
    overflow: auto;
    padding: 8px 0;
    text-align: left;
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer; }
  .modal__sub-modal-button {
    margin-top: 5px; }
  .modal__text {
    margin-bottom: 10px; }
  .modal__wrapper {
    display: table-cell;
    vertical-align: middle; }

.modal-enter, .modal-leave {
  opacity: 0; }

.modal-enter .modal__container,
.modal-leave .modal__container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.manage__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 1.5em; }

.manage__action-container {
  height: 50px; }

.manage__form {
  margin-bottom: 10px; }

.alert {
  padding: 10px;
  position: fixed;
  bottom: 10px;
  color: white;
  z-index: 10000;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); }
  .alert--error {
    background-color: #f44336;
    border: 1px solid #ba160a; }
  .alert--info {
    background-color: #2196f3;
    border: 1px solid #0960a5; }
  .alert--success {
    background-color: #4caf50;
    border: 1px solid #2d682f; }
  .alert__close {
    cursor: pointer;
    margin-right: 10px; }

.slide-transition {
  transition: all .5s ease-in-out;
  left: 60%; }

.slide-leave, .slide-enter {
  left: 100%; }

/*# sourceMappingURL=app.css.map */
