$red: #f44336
$orange: #ff9800
$yellow: #ffeb3b;
$green: rgb(76,175,80)
$blue: rgb(33,150,243)
$purple: rgb(103,58,183);
$white: #fff
// $black: #000000
/*
 * $pink: #e91e63
 */
a {
    background-color: $red;
}
$width: 100px
